// VARIABLES

// BASIC STUFF
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

.choices-list-item {
  display: block;
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  width: 90%;
  max-width: 75ch;
  margin: auto;
  border: solid black;
  padding: 0.5rem;
}

// QUIZ LIST

.quiz-item {
  border: solid;
  margin-bottom: 0.3rem;
  .quiz-item-date {
    label {
      font-weight: 600;
    }
  }
  .description {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

// quiz item page
.page {
  background-color: aquamarine;
  overflow: hidden;
  .quiz-form-container,
  .questions-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, calc(100%));
    grid-template-rows: minmax(150px, 1fr);
    grid-gap: 0rem;
    width: 100%;
    margin: 0.5rem;
  }
  .quiz-item-legend{
    margin: 0.5rem;
  }
  .submit-btn {
    border: solid red;
    width: fit-content;
  }
}

// QUIZ CREATOR
.quiz-creator {
  display: grid;
  form {
    div {
      width: 100%;
      textarea,
      input {
        // float: right
      }
    }
  }
}
